<!--Nav-->
<nav class="bg-white p-4 mt-0 w-full">
	<div class="container mx-auto flex items-center">
		<div class="flex text-gray-900 font-extrabold">
			<div class="flex text-gray-900 text-base no-underline hover:text-red-600 hover:no-underline"> 
				<%= link_to "Forget Busy Living", root_path, class: "hidden w-0 md:w-auto md:block pl-1" %>
			</div>
		</div>
		<div class="flex pl-4 text-sm">
			<ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
				<li class="mr-2">
					<%= link_to 'POSTS', articles_path, class: "inline-block text-gray-600 no-underline hover:text-red-600 hover:text-underline py-2 px-2"%>
				</li>
				<li class="mr-2">
					<a class="inline-block text-gray-600 no-underline hover:text-red-600 hover:text-underline py-2 px-2" href="#">VIDEOS</a>
				</li>
				<li class="mr-2">
					<a class="inline-block text-gray-600 no-underline hover:text-red-600 hover:text-underline py-2 px-2" href="#">PHOTOS</a>
				</li>
				<li class="mr-2">
					<a class="inline-block text-gray-600 no-underline hover:text-red-600 hover:text-underline py-2 px-2" href="#">SUBMIT</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!--slide in nav-->
<div id="header" class="bg-white fixed w-full z-10 top-0 hidden animated" style="opacity: .95;">
	<div class="bg-white">
		<div class="flex flex-wrap items-center content-center">
			<div class="flex w-1/2 justify-start text-white font-extrabold">
				<a class="flex text-gray-900 no-underline hover:text-gray-900 hover:no-underline pl-2" href="#">
					<span class="hidden w-0 md:w-auto md:block pl-1">Forget Busy Living<%= ': ' + @article.title if @article.present? %> </span>
				</a>
			</div>
		</div>
	</div>
	<!--Progress bar-->
	<div id="progress" class="h-1 bg-white shadow" style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>
</div>

<script>
	/* Progress bar */
	//Source: https://alligator.io/js/progress-bar-javascript-css-variables/
	var h = document.documentElement,
			b = document.body,
			st = 'scrollTop',
			sh = 'scrollHeight',
			progress = document.querySelector('#progress'),
			scroll;
	var scrollpos = window.scrollY;
	var header = document.getElementById("header");

	document.addEventListener('scroll', function() {

		/*Refresh scroll % width*/
		scroll = (h[st]||b[st]) / ((h[sh]||b[sh]) - h.clientHeight) * 100;
		progress.style.setProperty('--scroll', scroll + '%');

		/*Apply classes for slide in bar*/
		scrollpos = window.scrollY;

		if(scrollpos > 100){
			header.classList.remove("hidden");
			header.classList.remove("fadeOutUp");
			header.classList.add("slideInDown");
		}
		else {
			header.classList.remove("slideInDown");
			header.classList.add("fadeOutUp");
			header.classList.add("hidden");
		}

	});
</script>