<!--Nav-->
<div class='flex-1 flex justify-between items-center'>
	<%= link_to 'HOME', root_path, class: 'lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-red-400 text-xl'%>
</div>

<label for='menu-toggle' class='cursor-pointer lg:hidden block'>
	<i class="fas fa-bars fa-2x"></i>
</label>

<!-- hack to use hamburger without js https://medium.com/the-web-crunch-publication/lets-build-with-tailwind-css-responsive-navbar-ee3d6c76984 -->
<input type='checkbox' class='hidden' id='menu-toggle'/>

<div class='hidden lg:flex lg:items-center lg:w-auto w-full' id='menu'>
	<nav>
		<ul class='lg:flex items-center justify-between text-base pt-4 lg:pt-0'>
			<li>
				<%= link_to 'VIDEOS', videos_path, class:'lg:p-4 py-3 px-1 block border-b-2 border-transparent hover:border-red-400 text-xl'%>
			</li>
			<li>
				<%= link_to 'ABOUT', about_path, class:'lg:p-4 py-3 px-1 block border-b-2 border-transparent hover:border-red-400 text-xl' %>
			</li>
		</ul>
	</nav>
</div>
