<div>
  <div class="inline-block">
    <%= image_tag('camera_and_tapes', size: "150x150") %>
  </div>
  <div class="inline-block align-top">
    <div class="font-bold text-xl"><%= video.title %></div>
    <div><%= video.description %></div>
  </div>
</div>