<div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal">		
  <article>
    <p class="py-6"> 
      I got my first video camera in 2003 and started filming my friends skateboarding pretty much every day after that.
      In 2006, we'd filmed enough for an short video called <strong>FiveFourNo</strong> and I put it on YouTube.
      It wasn't a very good video, even back then, but making it was fun.
    </p>
  
    <p class="py-6">
      After FiveFourNo, I started working on a second video called <strong>Get Busy Living</strong>.
      Pretty early on into that, I got into a car accident and had to sell all my equipment. I never finished the video.
    </p>
  
    <p class="py-6">
      Since then, I've lost pretty much everything I ever made- all the edited footage and digital/physical copies of the video, the disks and drives they were stored on, everything.
      I'm not really sure how that happened, I guess just slowly over time, but now that shitty version of FiveFourNo thats been on <a href="https://www.youtube.com/watch?v=TxY9vyakskk&t=7s" class="text-red-600">YouTube</a> since 2007 is all thats left.
    </p>

    <figure class="border border-gray-100 rounded shadow">
      <%= image_tag 'fivefourno_youtube_screenshot.png' %>
      <figcaption>And the whole video looks like this</figcaption>
    </figure>

    <p class="py-6">
      In 2019, though, I got super lucky found a bag full of all the original tapes at my parents house.
      I don't know for sure yet but I think it contains pretty much everything I've ever filmed.
    </p>
  
    <p class="py-6">
      I didn't have the equipment to even capture the tapes myself and I didn't want to risk losing them shipping them off to someone who could, so I've just been sitting on these tapes for about a year now.
    </p>
  
    <p class="py-6">
      Now, more than a decade (and one stimulus check) later and I've bought another camera with the intent of finally <del>finishing</del> starting this video.  
    </p>
  
    <p class="py-6">
      I don't think there is enough 'new' footage to make a full video with, but since FiveFourNo is basically gone anyway, I'm just going to make one last big video with everything in it.
      Also, I think rebooting a project I'd intended to finish in 2008 warrants a small name change so now I'm gonna call it <strong>Forget Busy Living</strong>.
    </p>
  
    <p class="py-6">
      So that's pretty much it.  Not sure how long it will take to complete but I have everything I need to start.
      I will update this site with the finished video as well as some little clips here and there I find while I'm working on it.
      I also want to start keeping an archive of all the stuff thats floating around out there and whatever other little edits and content I can find.
    </p>

    <p class="py-6 text-right">
      - Chris
    </p>
  </article>
</div>