<div class="w-full px-4 md:px-6 text-xl text-gray-800 mb-4">
  <h1 class="font-bold text-gray-900 text-3xl md:text text-center">FORGET BUSY LIVING</h1>
  <p class="text-sm md:text-base font-normal text-gray-600 text-center">Toe drags from the early 2000's<p>
</div>

<div class="w-full px-4 md:px-6 text-gray-800 mb-4">
  <div>
    <%= image_tag 'camera_and_tapes' %>
  </div>
  <div>
    <div class="font-bold text-xl">So this is a thing</div>
    <div>what am I gonna put here</div>
  </div>
</div>

<% @videos.each do |video| %>
  <div class="w-full px-4 md:px-6 text-gray-800 mb-4">
    <%= render partial: 'shared/small_video_card', locals: { video: video } %>
  </div>
<% end %>